.sets__container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.sets__list{
    display: flex;
    flex-wrap: wrap;
}

.sets{
    width: calc(100%/4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sets__img{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 25px;
    cursor : pointer;
}

.sets__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding-bottom: 20px;
    margin: auto 0;
    width: 100%;
    font-weight: bold;
}

.set__series{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

@media (max-width: 1080px) {
    .sets{
        width: calc(100%/3);
    }
    .sets__img{
        width: 200px;
        height: 35%;
    }
    .sets__info{
        font-size: 16px;
        gap: 8px;
        margin: 10px 0 10px 0;
    }
}

@media (max-width: 768px) {
    .sets{
        width: calc(100%/3);
    }
}

@media (max-width: 480px) {
    .sets{
        width: calc(100%/2);
    }
}