.eevee{
  position: relative; 
  width: 100vw;         
  height: 50vh;        
  overflow: hidden;  
  z-index: 1;   
}

.eevee__gif{
  position: absolute;
  margin-top: 100px;
  top: 0;
  left: 100%;           
  width: 200px;         
  animation: slide-eevee 6s linear infinite;
  z-index: 1;
}


@keyframes slide-eevee {
    0% {
        left: 100vw;
    }
    100% {
        left: -120px;
    }
}
