.eevee{
    position: fixed;
    top: 15%; /* adjust as needed */
    left: 100vw;
    width: 120px; /* adjust size as needed */
    z-index: 10;
    animation: slide-eevee 6s linear infinite;
}
@keyframes slide-eevee {
    0% {
        left: 100vw;
    }
    100% {
        left: -120px;
    }
}